.btn-danger {
    background: rgb(207, 23, 23) !important;
    color: black;
}

.input-group-text {
    background: rgb(207, 23, 23) !important;
    color: black !important;
}

.modal-dialog {
    top: 20vh;
}

.modal-header {
    background: rgb(207, 23, 23);
}

h5 {
    color: black;
}