.girls {
    width: 100vw;
}

.owl-theme button.owl-prev{
    position: absolute;
    top: 40%;
    left: 20px;
}
  
.owl-theme button.owl-next{
    position: absolute;
    top: 40%;
    right: 20px;
}

.owl-theme span{
    color: #000000;
    font-size: 40px;
}