.input-group-text {
    background: rgb(207, 23, 23) !important;
    color: black !important;
    font-size: 24px !important;
    width: 50px !important;
}

.btn-danger {
    background: rgb(207, 23, 23) !important;
    color: black;
}

.fa-user-circle {
    font-size: 150px;
    color: black;
}