.footer {
    background: rgb(207, 23, 23);
    bottom: 0;
    height: 60px;
    left: 0;
    position: fixed;
    right: 0;
}

.footer-plismi {
    display: flex;
    height: 60px;
    justify-content: center;
}

.footer-button {
    height: 40px;
    margin: auto;
    transform: scale(1);
    transition: 0.4s;
}

.footer-button:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.footer-icon {
    color: black;
    font-size: 40px;
}

@media (max-width:800px) {
    .footer, .footer-plismi {
        height: 40px;
    }

    .footer-button {
        height: 30px;
    }

    .footer-icon {
        font-size: 30px;
    }
}